# 复制本文件为 .env 后填写

WECHAT_APPID=
WECHAT_SECRET=***
REWRITE_API_BASE_URL=
REWRITE_API_KEY=***
REWRITE_MODEL=

MD2WECHAT_API_KEY=***
OPENAI_IMAGE_API_KEY=***
OPENAI_IMAGE_BASE_URL=
OPENAI_IMAGE_MODEL=gpt-image-1
